.user_infos{
    color :white; 
    display: flex;
    align-items: center;
    justify-content : center;
    div{
        position : relative;
        background: rgba(107, 107, 107, 0.658);
        padding : 1rem 1.3rem;
        margin : 6px;
        transition : 0.2s;
        cursor: pointer;
        &:hover{
            filter: brightness(120%);;
        }
        a{
            text-transform : capitalize;
            white-space: nowrap;
            position : absolute;
            bottom: -2rem;
            left: 0;
        }
    }
}
.form_container{
    position : relative;
    width : 100%;
    padding-bottom : 2rem;
    color : white; 
}
.form_container.auth_page{
    padding : 2rem;
}

.form_container.user_page{
    background-color: rgba(0, 0, 0, 0.534);
}

.form_bg.home_page{
    position: absolute;
    top :-7rem;
    bottom : 0;
    left : 0;
    right: 0;
}
.form_bg {
    z-index: 0;
    width : 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.form_text{
    display : flex;
    flex-direction : row;
    align-items: baseline;
}

.form{
    text-align: end;
    display: flex;
    justify-content: end;
    input{
        border : none;
        border-bottom: solid white 2px;
        width: 100%;
        text-align: start;
    }
    button{
        border : solid white 2px;
        background: transparent;
        color : white;
        text-transform: uppercase;
        padding : 0.6rem 2rem;
        margin : 2rem 1rem 0 1rem;
        opacity: 0.8;
        width: 100%;
        cursor: pointer;
        transition : 0.2s;
        &:hover{
            opacity: 1;
        }
    }
}