@import "~react-image-gallery/styles/scss/image-gallery.scss";

.rubrique_item {
    text-transform : uppercase;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 2;
    color : white;
    margin-top : 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space : nowrap;
    font-family: 'Rokkitt', serif;
    font-size: 40px;
    @media(max-width: 767px){
        font-size: 20px;
    }
}

.add_to_basket{
    display: flex;
    padding : 1rem 3rem;
    text-transform: uppercase;
    color : white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        filter: brightness(150%);
    }
}

.carroussel_arrow{
    color :white;
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.navigation_item{
    a{
        font-weight: 600;
        text-decoration: none;
        color: white;
    }
}

.image-gallery-content{
    .image-gallery-image{
        height: 500px;
        width: 600px !important;
        object-fit: fill !important;
    }
}

.image-gallery-content.fullscreen{
    .image-gallery-image{
        height: 100% !important;
        width: auto !important;
    }
}

.image-gallery-thumbnail-image{
    height: 90px;
}

.sidebar_items{
    padding : 0 4rem;
    div{
        color : white;
        padding : 5px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: solid white 2px;
        line-height: 3;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            filter: opacity(80%);
        }
    }
    div.active{
        background-color: rgba(107, 107, 107, 0.658)
    }
}