.presentation_container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin : 7rem 0;
    @media(max-width: 767px){
        margin: 0;
    }
    h1{
        font-size: 130px;
        line-height: 1;
        @media(max-width: 767px){
            font-size: 50px;
            line-height: 1;
        }
    }
    h2{
        font-size: 90px;
        @media(max-width: 767px){
            font-size: 30px;
            line-height: 1;
        }
    }
    h3{
        @media(max-width: 767px){
            padding : 0;
            font-size: 12px;
            line-height: 1;
        }
        @media(min-width: 1200px){
            padding : 0 10rem;
        }
    }
}
.presentation_item{
    color : white;
    margin : 0;
}
.presentation_container.title,
.presentation_item.title{
    white-space: nowrap;
    font-family: 'Rokkitt', serif;
    text-transform : uppercase;
}

.input_header{
    margin: 20px;
    width : 100%;
}
input{
    width : 60%;
    border: solid white 2px;
    background : transparent;
    padding : 0.4rem;
    color : white;
    text-align : center;
}




.navbar_picture_image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size : cover;
    background-repeat : no-repeat;
    height : 350px;
    width : 100%;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
    &:hover::after{
        content: "";
        position: absolute;
        background:#000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.8;
        z-index: 1;
    }
}

.navbar_pictures_container .navbar_picture_text {
    visibility:hidden;
    color : white;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}
    
.navbar_pictures_container:hover .navbar_picture_text {
    width : 200px;
    visibility:visible;
    padding: 7rem 0;
    overflow: hidden;
    border: solid white 2px;
}

.partenariats_container{
    padding: 1rem 3rem;
}
.partenariats_image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: contain;
    background-position: center;
    height: 90px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.details_project_container{
    .details_project_image{
        background-size : cover;
        background-repeat : no-repeat;
        background-position: center;
        height: 800px;
        display: flex;
        position: relative;
        @media(max-width: 991px){
            height: 500px;
        }
    }
    .details_project_maps{
        iframe{
            height: 800px;
            @media(max-width: 991px){
                height: 500px;
            }
        }
    }
    .details_project_text{
        background: rgba(0, 0, 0, 0.486);
        color : white;
        padding: 3rem;
        font-weight: 400;
        z-index: 3;
        position: absolute;
        bottom: 0;
        h2{
            font-family: 'Rokkitt', serif;
            color :white;
            font-weight: 600;
        }
    }
    .details_project_maps{
        position: relative;
    }
}