.container-fluid{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header_container{
    position: relative;
}

.background_header{
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.5;
    }
}

.navigations{
    color :white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    span{
        &:hover{
            text-decoration: underline;
        }
    }
}

.category_title{
    text-align: center;
    h1{
        text-transform: uppercase;
        color: white;
        font-family: 'Baloo Tammudu 2', cursive;
        font-size: 80px;
        @media(max-width: 1200px){
            font-size: 30px;
        }
    }
}

.footer_container{
    width: 100%;
    display: flex;
    z-index: 1;
    background-size : cover;
    background-position: center;
    background-repeat : no-repeat;
}

.footer_item{
    display: flex;
    justify-content: center;
    color : white;
    font-weight: 600;
    text-align: center;
    &:nth-child(2){
        @media(min-width: 1200px){
            padding: 0 15rem;
        }
    }
}

.footer_container {
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left : 0;
        right: 0;
        opacity: 0.5;
    }
}

.footer_socials{
    display: flex;
    flex-direction: row;
    color : white;
    margin : 8px;
    div{
        margin : 8px;
    }
}