.product_card_list{
    display: flex;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 0, 0.534);
    }
}

.product_card_container{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    @media(min-width: 1200px){
        padding : 0 3rem;
    }
    .product_card_picture{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height : 250px;
        width: 100%;
    }
    .product_card_info{
        margin : 0.6rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        span:first-child{
            font-family: 'Rokkitt', serif;
            font-size: 30px;
            line-height: 1;
            color : white;
            @media(max-width: 767px){
                font-size: 20px;
            }
        }
        span:last-child{
            font-family: 'Baloo Tammudu 2', cursive;
            font-size: 30px;
            @media(max-width: 767px){
                font-size: 20px;
            }
            &::after{
                content : "€";
                margin-left : 8px;
            }
        }
    }
}