.product_item{
    display: flex;
    transition: 0.2s;
    padding : 2rem 0rem;
    cursor: pointer;
    .product_picture{
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        div{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: 0.2s;
        }
    }

    .selection_page{
        div{
            height: 400px;
            width: 350px;
            @media(max-width : 767px){
                height: 300px;
            }
        }
    }
    .product_details_top, .product_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .product_details_top{
        cursor: pointer;
        transition: 0.2s;
    }
    .product_details{
        @media(min-width: 768px){
            padding : 0 5rem;
        }
        
        .react-audio-player{
            margin : 1rem 0;
            width: 100%;
        }
        span:first-child{
            font-family: 'Rokkitt', serif;
            font-size: 40px;
            color : white;
            @media(max-width: 767px){
                font-size: 20px;
            }
        }
        span:last-child{
            font-family: 'Baloo Tammudu 2', cursive;
            font-size: 40px;
            @media(max-width: 767px){
                margin :1rem 0;
                font-size: 30px;
            }
            &::after{
                content : "€";
                margin-left : 8px;
            }
        }
        .product_payment_container{
            margin-top: auto;
            width: 100%;
        }
        .product_payment{
            border: solid white 4px;
            padding: 1rem 3rem;
            color : white;
            text-align: center;
            text-transform: uppercase;
            margin-top : auto;
            margin-bottom: 2rem;
            width: 100%;
        }
        .product_payment_icon{
            display: flex;
            color : white;
            justify-content: center;
            svg{
                margin : 0 1rem;
            }
        }
        .add_to_basket{
            margin-top: auto;
            width: 100%;
        }
    }
    .product_details_description{
        color : white;
        margin : 1rem 0;
        @media(max-width: 1400px){
            padding : 0;
            margin-top : 0;
        }
    }
}