html, body{
    min-height: 100%;
    height: 100%;
}

#__next{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 100%;
    height: auto !important;
}

a{
    color : inherit;
    &:hover{
        color : inherit
    }
}